<!-- contact -->
<div class="check-out">	
	<div class="container">	 
		<div class="spec ">
			<h3>{{title}}</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>

		</div>
		<a class=" add-1" href="#"  data-toggle="modal" data-target="#createModal">Create Stock</a>
		<br />
		<br />

		<table class="table ">
			<tr>
				<th class="t-head head-it "><div align="center">Products</div></th>
				<th class="t-head"><div>Current Price</div></th>
				<th class="t-head"><div>Quantity</div></th>
				<th class="t-head" colspan="2"><div align="center">Actions</div></th>
			</tr>



			<tr class="cross" *ngFor="let stock of stocks">
				<td class="ring-in t-data">
					<a routerLink="/detail/{{stock.id}}" class="at-in">
						<img src="assets/images/of{{stock.id}}.png" class="img-responsive" alt="">
					</a>
					<div class="sed">
						<h5>{{stock.name}}</h5>
					</div>
					
				</td>
				<td class="t-data">${{stock.currentPrice}}</td>
				<td class="t-data">{{stock.quantity}}</td>
				<td class="t-data">
					<a class=" add-1" routerLink="/detail/{{stock.id}}">Edit</a>
				</td>
				<td class="t-data t-w3l">
					<div class="clearfix"> </div>
					<div class="close1" (click)="delete(stock)"> <i class="fa fa-times" aria-hidden="true"></i></div>
				</td>

			</tr>
		</table>
	</div>
</div>

<!-- Create Stock Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-info">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="modal-body modal-spa">
					<div class="col-md-5 span-2">
						<div class="item">
							<img src="assets/images/LogisticsVismaBlue.png" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-7 span-1 ">
						<h3>Create a new Stock</h3>
						<div>
							<table cellpadding="9" cellspacing="5">
								<tr>
									<td>Stock Name:</td>
									<td><input #stockName /><br /></td>
								</tr>
								<tr>
									<td>Stock Price:</td>
									<td><input type="number" #stockPrice /></td>
								</tr>
								<tr>
									<td>Stock Quantity:</td>
									<td><input type="number" #stockQty /></td>
								</tr>
							</table>
						</div>
						<div class="add-to">
							<button class="btn btn-danger my-cart-btn my-cart-btn1" (click)="add(stockName.value, stockPrice.value, stockQty.value); stockName.value=''; stockPrice.value=0; stockQty.value=0">Save</button>
						</div>
						<div class='text-success'><b>{{notice}}</b></div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>